.buttonClass{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.buttonClass .button{
    border-radius: 25px;
    background: repeating-linear-gradient(
            45deg,
            #F0EDDA,
            #DEDDD9 5px,
            #FBFAF5 5px,
            #E9FDFB 20px
    );
    font-weight: bold;
}
.buttonClass .button:focus{
    outline: none;
}
.forma{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1px auto;
    border: 1px solid black;
    background-color: #8fd19e;
}
.forma .Choose{
    width: 50%;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}
.forma .HomeWork{
    width: 50%;
    margin: 30px auto;
    background-color: #ffeeba;
}
.results{
    width: 50%;
    margin: 25px auto;
    position: relative;
}
.results .homeworkCont{
    flex-grow: 1;
    border: 1px solid black;
    height: auto;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.results .homeworkCont .jsCode{
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
    height: 610px;
}
.codeWritten1{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten2{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten3{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten4{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten5{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten6{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten7{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten8{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten9{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.codeWritten10{
    width: 50%;
    font-weight: bold;
    border: 1px dashed red;
    position: absolute;
    margin-left: 25px;
    display: none;
    margin-top: 45px;
}
.runner{
    border-radius: 25px;
    background-color: darkseagreen;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 150px;
    font-size: large;
}
.runner:focus{
    outline: none;
}
.result{
    display: flex;
    width: 50%;
    margin-top: 20px;
    font-weight: bold;
    position: relative;
}
.Result1{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result2{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result3{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result4{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result5{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result6{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result7{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result8{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result9{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.Result10{
    position: absolute;
    margin-left: 55px;
    display: none;
}
.picture{
    /*width: 100%;*/
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
}
.cliCont:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #4e555b;
    opacity: 0.3;
    z-index: 1;
}
.cliCont2:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: #4e555b;
    opacity: 0.3;
    z-index: 1;
}
.cliCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cliCont:hover::before{
    background-color: #dfe0e0;
}
.cliCont2:hover::before{
    background-color: #444445;
}
.cliCont2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zeti{
    z-index: 9999;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20px;
}
.zeti2{
    z-index: 9999;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 20px;
}
img{
    width: 100%;
    height: 100%;
}
.completed {
    text-decoration: line-through;
}
li {
    margin-bottom: 10px;
    margin-left: 20px;
}
h1 {
    margin-left: 20px;
}
.input1 {
    margin-left: 20px;
}
button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}
.slider{
    width: 500px;
    height: 300px;
    overflow: hidden;
    background-color: green;
    margin: 10px auto;
}
.slidesContainer{
    width: 1500px;
    background-color: purple;
    display: flex;
    height: 100%;
    position: relative;
    left: 0;
    transition: left 500ms;
}
.slide{
    flex: 1;
    height: 100%;
}
.title{
    position: absolute;
    color: #ff6666;
    width: 100px;
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.navigation{
    background-color: #0069d9;
    color: black;
    font-weight: bold;
    font-size: large;
    border-radius: 25px;
}
.navigation:focus{
    outline: none;
}
.savarjiSoebi{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
h5{
    margin: auto 180px;
}
.davaleba12{
    border: 1px solid black;
}
.davaleba3{
    border: 1px solid black;
}
.davaleba4{
    border: 1px solid black;
}